.change{
	background-color: #0099cc !important;
}
.center{
text-align:  center !important;
}
.btn{
	background-color: #eee;
	padding: 15px 100px;
	border-radius: 5px;
	font-size: 18px;
}
.btn span{
	color: #fff;
	margin-right: 30px;
	font-size: 20px;
}
.fb{
	background-color: #3B5998;
	border: 1px solid #36318a;
	color: #fff;
	opacity: .80;
}
.go{
	background-color: #dd4b39;
	border: 1px solid #d24948;
	color: #fff;
	opacity: .80;
}
.word{
	font-size: 23px;
}
#banner{
	margin-left: 15px;
	position: relative;
	opacity: 0.40;
}
.pos{
	position: absolute;
	top: 150px;
	right: 40px;
	font-size: 30px;
}
.wid{
	margin-top: 50px !important;
}